.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* Main Teaser */
.columns.main-teaser-block {
  padding: 0 1.25rem;
}

.columns.main-teaser-block .column-1 {
  width: 100%;
  flex: auto;
  padding: 3.5rem 0;
  margin: 0;
}

.columns.main-teaser-block .column-1 h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-l);
  line-height: var(--heading-l-line-height);
  margin-block: 0;
}

.columns.main-teaser-block .column-1 p {
  font-family: var(--body-font-family);
  font-size: var(--body-m);
  line-height: var(--body-m-line-height);
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.columns.main-teaser-block .column-1 p.button-container {
  margin-top: 2rem;
}

.columns.main-teaser-block .column-2 {
  display: none;
}

.columns.main-teaser-block .columns-img-col {
  margin: 0 -1.25rem;
}

.columns.main-teaser-block .columns-img-col p {
  margin: 0;
}

/* Featured Article */
.columns.featured-article {
  padding: 0 1.25rem;
  margin: 2.5rem 0 0;
}

.columns.featured-article > div {
  display: flex;
  flex-direction: column;
  align-items: unset;
  margin: 0 -.125rem;
}

.columns.featured-article .column-1 {
  border-bottom: 1px solid var(--blk-black);
}

.columns.featured-article .column-1,
.columns.featured-article .column-2 {
  padding: 0 .125rem;
}

.columns.featured-article .column-1 h2 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-l);
  line-height: var(--heading-l-line-height);
  margin: 0;
}

.columns.featured-article .column-1 p {
  font-family: var(--body-font-family);
  line-height: var(--body-m-line-height);
  padding-top: 1.5rem;
  margin: 0;
}

.columns.featured-article .column-1 .button-container {
  padding: 2.5rem 0 2rem;
}

.columns.featured-article .column-1 .button-container,
.columns.featured-article .column-2 .button-container {
  margin: 0;
}

.columns.featured-article .column-1 .button-container .button,
.columns.featured-article .column-2 .button-container .button {
  padding: 0;
}

.columns.featured-article .column-1 .button-container .button {
  color: var(--blk-black);
}

.columns.featured-article .column-2 {
  display: flex;
  flex-flow: nowrap column;
  height: 100%;
  padding: 2rem 1.5rem;
  margin: 2.5rem 0 0;
  background-color: var(--blk-black);
  color: var(--blk-white);
}

.columns.featured-article .column-2 p {
  font-family: var(--heading-font-family);
  margin: 0;
}

.columns.image-cta .column-1 p {
  font-family: var(--body-font-family);
  font-size: var(--body-m);
  line-height: var(--body-m-line-height);
  margin: 0 0 1.25rem;
}

.columns.image-cta .column-2 p {
  margin: 0;
}

.columns.featured-article .column-2 p:nth-child(1) {
  font-size: var(--body-s);
  color: var(--blk-orange);
  text-transform: uppercase;
  padding-bottom: .75rem;
}

.columns.featured-article .column-2 p:nth-child(2) {
  font-size: var(--heading-l);
  line-height: var(--heading-l-line-height);
}

.columns.featured-article .column-2 .button-container {
  padding: 2.5rem 0 0;
}

.columns.featured-article .column-2 .button-container .button {
  color: var(--blk-white);
}

/* Image CTA */
.columns.image-cta {
  padding: 3.5rem 1.25rem 0;
}

.columns.image-cta > div {
  display: flex;
  flex-direction: column;
  margin: 0 -.125rem;
}

.columns.image-cta .column-1,
.columns.image-cta .column-2 {
  padding: 0 .125rem;
}

.columns.image-cta .column-1 {
  padding-bottom: 3.5rem;
}

.columns.image-cta .column-1 h2 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-l);
  line-height: var(--heading-l-line-height);
  margin: 0 0 1.25rem;
}

.columns.image-cta .column-1 .button-container {
  margin-bottom: 0;
}

.columns.article-list div[class*='column-'] {
  padding: 3.5rem .125rem 0;
  border-bottom: 1px solid var(--blk-black);
}

@media (width >= 600px) {
  /* Image CTA >=600px */
  .columns.image-cta > div {
    margin: 0 -.25rem;
  }

  .columns.image-cta .column-1,
  .columns.image-cta .column-2 {
    margin: 0 .25rem;
  }
}

@media (width >= 768px) {
  /* Main Teaser >= 768px */
  .columns.main-teaser-block > div {
    flex-direction: row;
    align-items: center;
  }

  .columns.main-teaser-block {
    height: auto;
    padding: 3.5rem 0 3.5rem 2rem;
  }

  .columns.main-teaser-block .column-1 {
    padding: 0 1.5rem 0 .5rem;
  }

  .columns.main-teaser-block .column-1 h1 {
    font-size: var(--heading-xl);
    line-height: var(--heading-xl-line-height);
    margin-block: 0;
  }

  .columns.main-teaser-block .columns-img-col {
    padding: 0 0 0 .5rem;
    margin: 0;
    width: 100%;
  }

  .columns.main-teaser-block .columns-img-col img {
    width: 100%;
    height: auto;
  }

  /* Featured Article >= 768px */
  .columns.featured-article {
    padding: 0 2rem;
  }

  .columns.featured-article > div {
    margin: 0 -.5rem;
    padding: 0 2rem;
  }

  .columns.featured-article .column-1 {
    padding: 0 0 2rem;
  }

  .columns.featured-article .column-1 .button-container {
    padding: 2.5rem 0 0;
  }

  .columns.featured-article .column-1 h2 {
    font-size: 40px;
    line-height: 48px;
  }

  /* Image CTA >= 768px */
  .columns.image-cta {
    padding: 3.5rem 2rem 0;
    overflow: visible;
  }

  .columns.image-cta > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 -.5rem;
  }

  .columns.image-cta .column-1,
  .columns.image-cta .column-2 {
    flex: 0 0 50%;
    margin: 0 .5rem;
    max-width: 50%;
  }

  .columns.image-cta .column-1 {
    padding: 0 1.5rem 1.25rem 0;
  }

  .columns.image-cta .column-2 {
    padding: 0;
  }

  .columns.image-cta .columns-img-col p {
    width: auto;
  }

  .columns.image-cta .columns-img-col p img {
    width: calc(100% + 40px);
    height: auto;
  }
}

@media (width >= 1024px) {
  /* Main Teaser >= 1024px */
  .columns.main-teaser-block > div {
    justify-content: space-between;
  }

  .columns.main-teaser-block {
    height: 100%;
    width: 100%;
    padding: 0 0 0 2.5rem;
    min-height: 600px;
  }

  .columns.main-teaser-block .column-1 {
    padding: 2.5rem .5rem;
    margin: 0 -.5rem;
    max-width: 41.6667%;
  }

  .columns.main-teaser-block .column-1 h1 {
    font-size: var(--heading-l);
    line-height: var(--heading-l-line-height);
  }

  .columns.main-teaser-block .column-2 {
    display: block;
    flex: 0 0 8.3333%;
    position: relative;
    padding: 0 .5rem;
    max-width: 8.3333%;
  }

  .columns.main-teaser-block .columns-img-col {
    max-width: 50%;
    height: 100%;
  }

  .columns.main-teaser-block .columns-img-col img {
    height: 100%;
    min-height: 600px;
    min-width: 100%;
    object-fit: cover;
  }

  /* Featured Article >= 1024px */
  .columns.featured-article {
    padding: 0 2.5rem;
    margin: 3.5rem 0 0;
  }

  .columns.featured-article > div {
    flex-direction: row;
    min-height: 328px;
    align-items: stretch;
  }

  .columns.featured-article .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 58.3333%;
    padding-right: 24px;
    margin: 0 2rem 0 0;
    max-width: 58.3333%;
    height: auto;
  }

  .columns.featured-article .column-2 {
    flex: 0 0 41.6666%;
    margin: 0 .5rem;
    max-width: 41.6666%;
    height: auto;
  }

  /* Image CTA >= 1024px */
  .columns.image-cta {
    padding: 3.5rem 2.5rem 0;
  }

  .columns.image-cta .column-1 {
    flex: 0 0 41.6666%;
    max-width: 41.6666%;
    padding: 0 .5rem 1.25rem;
    margin: 0;
  }

  .columns.image-cta .column-2 {
    margin-right: -2rem;
  }

  .columns.image-cta .column-2 p {
    aspect-ratio: 16 / 9;
  }

  .columns.image-cta .column-2 p img {
    object-fit: fill;
  }
}

@media (width >= 1440px) {
  .columns.main-teaser-block {
    padding: 0 5rem;
  }
  
  .columns.main-teaser-block .column-1 h1 {
    font-size: var(--heading-xl);
    line-height: var(--heading-xl-line-height);
    margin-block: 0;
  }

  /* Featured Article >= 1440px */
  .columns.featured-article {
    padding: 0 5rem;
  }

  .columns.featured-article > div {
    min-height: 256px;
  }

  .columns.featured-article .column-1 {
    justify-content: flex-end;
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }

  .columns.featured-article .column-2 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  /* Image CTA >= 1440px */
  .columns.image-cta {
    padding: 3.5rem 5rem 0;
  }

  .columns.image-cta .column-2 {
    margin-right: -4.5rem;
  }
}
